.imagesGallery {
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.imagesItem {
  display: block;
  width: 300px;
  height: 300px;
}