.divModal {
  width: 100%;
  height: 100%;
  position: relative;
}
.imageModal {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.imageInfo {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  bottom: 10px;
  width: max-content;
  font-size: 14px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #606060;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0.8;
}
.imageInfo a {
  text-decoration: none;
  color: inherit;
}
.imageInfo a:hover {
  text-decoration: underline;
}
.likes {
  display: flex;
  gap: 0.2em;
}
.likes svg {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  fill: white;
}
